.basic-resource-list {
  max-width: 30rem;
  margin: 0 auto;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 0.5rem;
}

.basic-resource {
  list-style-type: none;
  padding: 0.5rem;
  border-bottom: 1px solid #aaa;
}

.basic-resource:last-child {
  border-bottom: none;
}

.basic-resource-label {
  display: block;
  font-weight: bold;
}

.basic-resource-input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  border: 1px solid #888;
  border-radius: 0.25rem;
  background-color: white;
  color: #333;
}

.basic-resource-input:focus {
  border-color: #34f;
  outline: none;
}

.basic-resource-button {
  padding: 0.5rem;
  border: 1px solid #23e;
  border-radius: 0.25rem;
  background-color: #34f;
  color: white;
  cursor: pointer;
}

.basic-resource-button:hover {
  background-color: #45f;
}

.basic-resource-button:active {
  background-color: #23f;
}
